extends layoutAdmin

block contenido
  .container.mt-5.text-center
    h2.mb-4 Panel de Administraci贸n

    .row.justify-content-center
      .col-md-4
        a.btn.btn-outline-primary.btn-lg.w-100(href="/usuario/usuarios")
          i.fa.fa-users.me-2
          | Gesti贸n de Usuarios
      .col-md-4
        a.btn.btn-outline-primary.btn-lg.w-100(href="/empleados")
          i.fa.fa-users.me-2
          | Gesti贸n de Empleados
      .col-md-4
        a.btn.btn-outline-success.btn-lg.w-100(href="/tareas")
          i.fa.fa-tasks.me-2
          | Gesti贸n de Tareas
