extends layoutInicio

block contenido
  .text-center.mt-5
    h1.mb-4.text-primary Sistema de Usuarios

    .d-grid.gap-3.mx-auto(style="max-width: 300px;")
      a.btn.btn-dark.btn-lg(href="/login") Administrador
      a.btn.btn-outline-primary.btn-lg(href="/login") Empleados
      a.btn.btn-outline-secondary.btn-lg(href="/login") Inquilinos
      a.btn.btn-outline-secondary.btn-lg(href="/login") Propietarios
